/* Color variables */

:root {
    --lunarblue: rgb(181, 202, 204);
}

/* Appwide styles */

html, main, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(181, 202, 204);
    font-family: sans-serif;
}

/* Login Register */

.session-form div {
    position: relative;
}

.session-form label {
    position: absolute;
    top: 0.75em;
    left: 0.5em;
    font-size: 0.8em;
    font-weight: bolder;
    transition: font-size 0.25s, top 0.25s, left 0.25s;
    color: gray;
}

.session-form input:focus + label, .session-form input:valid + label {
    top: 0.25em;
    font-size: 0.6em;
}

.session-form input {
    padding: 1em 0.25em 0.25em 0.25em;
    outline: none;
    border: 1px solid blue;
    border-radius: 3px;
}